body{
background-color: d4e6f1;
}


h1 {
color: blue;
text-align: center;
}

p {
font-family: verdana;
}

#vuelta{
color: black;
text-align: left;
}

table{
width:60%;
border:1px solid blue;
}

td{

border: 1px solid;
text-align: center;
}

th{
border: 1px solid;
}

.vuelta2{
position: relative;
top:-250px;
left:450px ;
}

#km{
color: 000080;
}


#totalkm{
color: 000080;
font-size:20px;
position: relative;
top: -100px;
}


#totalgastos{
color: 660000;

}



#viaje_vuelta{
position:relative;
right: -100px;

}

#vuelta1{
position:relative;
right: -900px;
top:-30px;
font-size:20px;
font-weight: bold;
}

#ida1{
position:relative;
right: -110px;
font-size: 20px;
font-weight: bold;
top: 10px;
}


.totalgastos_tabla{
font-weight:bold;
color: 660000;
}

#imagen_belgica{
width: 1050;
weight: 1050px;


}
